textarea {
  font: inherit;
  outline: none;
  resize: vertical;
  min-height: 10em;
}

input {
  font: inherit;
  outline: none;
  margin-left: 1em;
}

input,
textarea {
  width: 60%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  font-size: 0.85em;
  height: 2.5em;
  border-radius: 1em;
  border: 0.01mm solid #d1d1d0;
  background-color: #fefffe;
}

input:focus,
textarea:focus {
  border: 0.01mm solid #0766ff;
  background-color: #f6f8f9;
}
